*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 18px;
    background: #fafafa;
    color: #000;
}



/* Begin navbar */
header{
    background-color: rgba(16,43,107,1);
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
}

.nav-item > a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#BUTTON250 > span {
    color: rgba(16, 43, 107, 1);
    font-weight: 700;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-rendering: unset !important;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
}


#BUTTON250 {
    cursor: pointer;
    border-radius: 0;
    display: table !important;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    width: 160px;
    border-radius: 50px;
    background: white;
} 

/* end navbar */

/* Begin introduce_1 */
.introduce_1{
    background-image: url(../img/bgIntroduce1.jpg);
    padding-bottom: 20px;
}

.title-en {
    text-rendering: unset !important;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
    color: rgba(51, 142, 206, 1);
    font-weight: bold;
    font-size: 25px !important;
}

.cart-title {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
}

.card-text:last-child {
    margin-bottom: 0;
}

.cart-content {
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    line-height: 22px;
    font-family: "Averta" !important;
    font-size: 16px;
    text-align: center;
    color: rgba(102, 102, 102, 1);
}

.set-height-vide {
    height: 360px;
}

iframe {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 1);
    top: 0;
    left: 0;
    vertical-align: middle;
    text-rendering: unset !important;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
} 
/* End introduce_1 */

/* Begin introduce_2 */
.introduce_2{
    background-color: white;
}

.font-size-14{
    font-size: 14px;
    word-spacing: 1px;
}

.el-online {
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    line-height: 26px;
    font-size: 20px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
}

.font-size-13{
    font-size: 13px;
}

.btn-discover-and-bookstore {
        background-color: #3d9be9;
        color: #fff;
        font-weight: bold;
    }

.btn-discover {
        width: 141px;
        border-radius: 50px;
}

.hr-05 {
    width: 97%;
    margin-top: -12px;
    border: 0.5px solid black;
}
/* End introduce_2 */

/* Begin introduce_3 */
.text-dr {
    text-decoration: underline;
    -webkit-text-decoration-color: black;
            text-decoration-color: black;
    color: rgb(244, 67, 54);
}

.introduce_3 a:hover {
    text-decoration: none !important;
}

.bg-none{
    background-color: unset;
}
/* end introduce_3 */

/* Begin review  */
.review{
    background-image: url(../img/why.png);
    background-color: rgba(253, 216, 53, 1);
    background-origin: content-box;
    background-attachment: scroll;
    background-position: top center;
}

.widget-content {
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 10px;
    background: 0 0 !important;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
    text-rendering: unset !important;
    color: rgba(102, 102, 102, 1);
    font-weight: 400;
    line-height: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.color-text-blue {
    color: rgba(17, 33, 123, 1);
}

.text-black-rag{
    color: rgba(0, 0, 0, 1);
}

.font-size-14_2 {
    font-size: 14px;
}

.title-info {
    margin: auto;
    font-weight: 400;
    line-height: 19px;
    width: 87%;
}

.bd-bt {
    border-top: 0.5px solid #e5e5e5;
    width: 80%;
    margin-left: 10%;
}

.bd-ru-10px {
    border-radius: 10px;
}
/* end review */

/* Begin team  */
.team{
    background-color: white;
}

.color-text-blue2 {
    color: rgba(40, 53, 147, 1);
}

.br-b {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    width: 186px;
}

.br-t {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footter-text-show:-webkit-any-link {
    color: rgb(85, 26, 139);
    cursor: pointer;
    text-decoration: none;
}

.footter-text-show {
    color: rgb(85, 26, 139);
    font-size: 13px;
    font-weight: bold;
}
/* end team */

/* Begin event */
.bg-event {
    background-image: url(../img/why.png);
    background-origin: content-box;
    background-attachment: scroll;
    background-position: top center;
    background-color: rgba(33, 150, 243, 1);
}

.p-07-r {
    padding: 0.7rem;
}

.z-index-10{
    z-index: 10;
}

.title-event {
    font-size: 13px;
    text-align: justify;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    line-height: 19px;
    text-rendering: unset !important;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
}

.content-event {
    font-size: 11px;
    text-align: justify;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    line-height: 17px;
    text-rendering: unset !important;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
}

.detail-event {
    color: rgba(33, 150, 243, 1);
    font-weight: 700;
    line-height: 21px;
    font-size: 15px;
}

.bd-bb {
    border-top: 0.5px solid black;
    width: 74%;
    margin-top: 8px;
}

.event ul li{
    list-style-type: none;
    line-height: 30px;
    
}

.event .list-style-none > li > a {
    color: rgba(25, 118, 210, 1);
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
}

a:-webkit-any-link:active {
    color: red !important;
    text-decoration: none;
}

/* end event */

/* begin back to top */

.back-top-bottom {
    z-index: 99999999999999999999999999999999999999999;
    position: fixed;
    bottom: 81px;
    right: 15px;
    background: white;
    width: 32px;
    height: 32px;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}

.back-top-bottom i {
    z-index: 99999999999999999999999999999999999999999;
    color: #2ec849;
    margin: 0;
    position: relative;
    left: -2px;
    top: -3px;
    font-size: 19px;
    transition: all 0.3s ease;
}

.back-top-bottom > i:before {
    font-size: 40px;
}

.toTopLink{
    opacity: 0;
    visibility: hidden;
  }

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }

/* end back to top */

/* begin messenger */
.message-fb {
    width: 356px;
}
/* end messenger */


/* ------------------------------------------------- */

/* reponsive */

@media screen and (min-width: 768px) {
    /* Navbar */
        #IMAGE5 {
        top: 8px;
        left: 17px;
        width: 113.53125px;
        height: 41px;
    }

    /* introduce_1 */
    .IMAGE20 {
        top: 69px;
        left: 239px;
        width: 64px;
        height: 64px;
    }

    /* introduce_2 */
    .IMAGE38 {
        top: 145.516px;
        left: 599.915px;
        width: 100%;
        border-radius: 30px;
    }

    /* introduce_3 */
    .IMAGE57 {
        top: 38px;
        left: 814.5px;
        width: 93px;
        height: 93px;
    }

    /* Review */
    .BOX105 {
        width: 100%;
        height: 500px;
        border-radius: 9px;
    }

    .mb-md-5, .my-md-5 {
        margin-bottom: 3rem!important;
    }

    .IMAGE73 {
        top: 6px;
        left: 33px;
        width: 222px;
        height: 145px;
    }

    /* team */
    .elight-team {
        padding: 0 32px 36px 100px;
    }

    .IMAGE143 {
        width: 186px;
        height: 264px;
    }

    .IMAGE154 {
        top: .25px;
        left: 0;
        width: 159.0625px;
        height: 226.5px;
    }

    /* event */
    .BOX178 {
        width: 100%;
        height: 350px;
        z-index: 99999;
    }

}

@media screen and (min-width: 1200px){

    /* Navbar */
    header .container-auto-size {
        height: 100%;
        width: 1200px;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    .pr-xl-3 {
        padding-right: 1rem!important;
    }
}


@media screen and (min-width: 1366px){
    /* introduce_1 */
    .fix-padding-block {
        padding: 0px 90px;
    }
}


@media screen and (max-width: 767px){

    /* Navbar */
    #BUTTON250 {
        margin-left: auto;
    }

    .navbar-collapse {
        flex-basis: inherit;
    }

    /* introduce_1 */
    .IMAGE20 {
        top: 69px;
        left: 239px;
        width: 64px;
        height: 64px;
    }

    .offset-md-2 > iframe {
        height: 223px !important;
    }

    /* introduce_2 */
    .IMAGE38 {
        width: 100%;
        height: 276.53125px;
        border-radius: 30px;
    }

    .column-reverse-flex {
        flex-direction: column-reverse;
    }

    /* introduce_3 */
    .IMAGE57 {
        width: 93px;
        height: 93px;
    }

    /* team */
    .IMAGE143 {
        margin: 0 auto;
    }

    /* event */
    .BOX178 {
        width: 100%;
        height: 350px;
    }

    .BOX1781 {
        width: 79%;
        margin: 0 auto;
    }

    /* messenger */
    .message-fb {
        width: 272px;
    }
}

@media screen and (max-width: 768px){
    /* Navbar */
        #IMAGE5 {
        top: 6px;
        left: 14px;
        width: 113px;
        height: 41px;
    }
}


@media screen and (max-width: 1024px) and (min-width: 768px){
    body {
        font-size: 14px;
    }

    /* Navbar */

    #IMAGE5 {
        width: 102px;
        height: 35px;
    }

    .nav-item > a {
        font-size: 12px;
    }

    #BUTTON250 > span {
        line-height: 32px;
        font-size: 12px;
    }

    #BUTTON250 {
        width: 121px;
    }

    /* introduce_1 */

    .cart-title {
        font-size: 15px;
    }

    .set-height-vide {
        height: 274px;
    }

    /* review */
    .BOX105 {
        width: 100%;
        height: 521px;
        border-radius: 9px;
    }
    
    .IMAGE73 {
        height: 130px;
    }

    .space-box-r {
        padding-right: 12px !important;
    }

    .space-box-center {
        padding-right: 6px !important;
        padding-left: 6px !important;
    }

    .space-box-l {
        padding-left: 12px !important;
    }

    .font-size-14_2 {
        font-size: 12px;
    }

    /* team */
    .elight-team {
        padding: 4px 62px 36px 54px;
    }

    .IMAGE143 {
        width: 165px;
        height: 214px;
    }

    .modal-size {
        max-width: 700px;
    }

    .br-b {
        width: 165px;
    }
    
}

@media screen and (max-width: 1100px) and (min-width: 1024px){

    /* introduce_1 */
    .set-height-vide {
        height: 360px;
    }

    /* review */
    .BOX105 {
        height: 470px;
    }
}

@media screen and (max-width: 676px){
    .sp-height-p {
        padding-top: 50px;
    }

    .sp-image-center {
        display: flex;
        justify-content: center;
    }

    .sp-image-p-2 {
        padding: 0 45px !important;
    }
}

/* end reponsive */

